<br />
<h1>Admin Dashboard</h1>
<%# <br /> %>
<ul>
  <li>There are <%= @product_count %> products currently in the database.</li>
  <li>There are <%= @category_count.count %> categories currently in the database.</li>
</ul>