<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
    <h4>Static Text: Number of Products in category</h4>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, :categories], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>