<br />
<h1>About</h1
>
<p>Jungle is the brainchild of ex Guns N' Roses frontman Axl Rose. After a musical career spanning over two decades, Axl has made a return to a more peaceful life brought by one of his first loves: gardening. Enjoy your visit to the Jungle plant shop.</p>
<img src="https://secondhandsongs.com/picture/150817" width="240" height="240" >

